{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p style="text-align: justify;">
          Hi, I’m Kushal Regmi, a first-year B.Tech student passionate about data science, machine learning, and Python development. With a strong foundation in programming, I am always eager to dive into innovative projects that challenge my skills and push the boundaries of technology. I thrive on learning new technologies and applying them to solve real-world problems.
        </p>
        <p style="text-align: justify;">
          Whether it’s AI-driven applications, predictive models, or data-driven insights, my goal is to make an impact through my work. I also value collaboration and believe that working together leads to more meaningful and effective solutions.
        </p>
        <p style="text-align: justify;">
          Some of my GitHub projects include:
          <ul>
            <li><a href="https://github.com/KushalRegmi61/WeatherApp" style="color: blue;">WeatherApp</a> - A weather forecasting application.</li>
            <li><a href="https://github.com/KushalRegmi61/100_DAYS_OF_LEARNING_PYTHON" style="color: blue;">100_DAYS_OF_LEARNING_PYTHON</a> - 100 Python Projects</li>
            <li><a href="https://github.com/KushalRegmi61/BlogWebsite" style="color: blue;">BlogWebsite</a> - A simple blog website using Flask.</li>
          </ul>
        </p>
        
        <p style="text-align: justify;">
          Feel free to connect with me at kushalregmi432@gmail.com or through my GitHub profile.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}




